html, body container-fluid{
  height: 100%;
}

main {
  height: 100%;
  width: 80%;
  background-color: #ccc;
}
#questions > li {
  display: block;
}
aside {
  height: 100%;
  width: 20%;
  float: right;
  background-color: #666;
}

input {
}