doctype html
html
  head
    title Lexsur | Classroom
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=', crossorigin='anonymous')
    script(src='https://unpkg.com/vue@2.3.2/dist/vue.js')
    script(src='/socket.io/socket.io.js')
  body
    #lex
      .navmenu.navmenu-default.navmenu-fixed-left
        a.navmenu-brand(href='#') Lexsur
        ul.nav.navmenu-nav
          li
            a(href='../navmenu/') Slide in
      .canvas
        .navbar.navbar-default.navbar-fixed-top
          button.navbar-toggle(type='button', data-toggle='offcanvas', data-recalc='false', data-target='.navmenu', data-canvas='.canvas')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .container
          .page-header
            h1.page-title Off Canvas Reveal Menu Template
            |  
            input.form-control(v-model='newQuestionText', v-on:keyup.enter='addNewQuestion', placeholder='Ask the presenter a question')
          div
            ul.nav.nav-tabs
              li.active(role='presentation')
                a(href='#') Recent
              li(role='presentation')
                a(href='#') Saved
              li(role='presentation')
                a(href='#') FAQ
            .list-group
              a.list-group-item(href='#')
                h4.media-heading Question Asked
                |  Cras justo odio
                i.glyphicon.glyphicon-thumbs-up
              |  
              a.list-group-item(href='#') Dapibus ac facilisis in
              |  
              a.list-group-item(href='#') Morbi leo risus
              |  
              a.list-group-item(href='#') Porta ac consectetur ac
              |  
              a.list-group-item(href='#') Vestibulum at eros
            ul
              li(is='question-item', v-for='(question, index) in questions', v-bind:key='question.id', v-bind:author='question.author', v-bind:qtext='question.text', v-bind:votes='question.votes', v-on:remove='questions.splice(index, 1)')
            |  
            button.btn.btn-success.btn-ask.btn-circle-lg(type='button')
              i.glyphicon.glyphicon-link
    script(src='main.js')
